.c-textarea {
  box-sizing: border-box;
  display: block;
  width: 100%;
  font-family: $font-family_default;
  font-size: $font-size_input;
  font-weight: normal;
  border: 1px solid $border-color_form;
  border-radius: 5px;
  transition: 0.3s;
  &:focus {
    border: 1px solid #ffa500;
    outline: none;
    box-shadow: 0 0 5px 1.5px rgba(0, 0, 0, 0.3);
  }
  &__count {
    text-align: right;
  }
  &__countNum {
    &--over {
      color: $font-color_error;
    }
  }
}
