.p-createIcon {
  position: fixed;
  right: 8%;
  bottom: 8%;
  z-index: 1;
  box-sizing: border-box;
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 70px;
  text-align: center;
  background-color: $background-color_main;
  border-radius: 50%;
  transition: transform 0.15s ease-in;
  &:hover {
    transition: transform 0.15s ease-in;
    transform: scale(1.2);
  }
  @include mq() {
    width: 60px;
    height: 60px;
    line-height: 70px;
  }
}
