.p-keyword {
  position: relative;
  box-sizing: border-box;
  display: block;
  width: 50%;
  height: 35px;
  margin: 0 auto;
  margin-bottom: $space_m;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 20px;
  @include mq(md) {
    width: 85%;
    max-width: 480px;
  }
  @include mq() {
    width: 95%;
    max-width: 320px;
  }
  &__input {
    position: absolute;
    box-sizing: border-box;
    display: inline-block;
    width: 82%;
    height: 100%;
    padding: 0;
    padding-left: $space_s;
    font-size: $font-size_m;
    border: none;
    @include mq() {
      font-size: $font-size_l;
    }
  }
  &__button {
    position: absolute;
    top: 0;
    right: 0;
    width: 15%;
    height: 100%;
    color: #fff;
    background: $background-color_search-btn;
    border: none;
    outline: none;
    &:hover {
      cursor: pointer;
      background: $background-color_search-btn-hover;
      transition: background-color 0.3s ease;
    }
  }
}
