.p-passwordReset {
  width: 80%;
  max-width: 720px;
  margin: $space_3xl auto 0;
  border: 1px solid #000;
  @include mq(md) {
    width: 100%;
    max-width: 480px;
  }
  &__head {
    box-sizing: border-box;
    padding: $space_s $space_m;
    font-size: $font-size_l;
    background-color: #dcdcdc;
  }
  &__form {
    box-sizing: border-box;
    width: 90%;
    padding: $space_m $space_s 0;
    margin: 0 auto;
    @include mq() {
      width: 90%;
      padding: $space_s $space_xs;
    }
  }
  &__status {
    box-sizing: border-box;
    padding: $space_m;
    margin-bottom: $space_m;
    background-color: #add8e6;
    border-radius: 5px;
  }
}
